<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
  <title>WEBRoom</title>
  <link rel="stylesheet" href="style.css"></link>
</head>
<body>
<header>
  <div class="navbar" >
    <ul class="navbar">
      <li class="navitem"><a href="#home">Головна</a></li>
      <li class="navitem"><a href="#add">Додати оголошення</a></li>
      <li class="navitem"><a class="active" href="login">Вихід</a></li>
      <li class="navitem" ><a href="#about">Про нас</a></li>
    </ul>   
  </div>
</header>

<section class="container">
<div class="login">
       <form method="post" action="/login">
        <font size = "74">Welcome in your WEBMarket</font>
      </form>
    </div>
  </section>
</body>
</html>